//sudo gem install sass
//sass --watch assets/css/style.scss:assets/css/style.css

$fa-font-path: "../fonts/fontawesome" !default;
$swiper-path: "../fonts/swiper" !default;
@import "fonts";
@import "mixins";

/*PLUGINS*/
/*bootstrap*/
@import "plugins/bootsrap/bootstrap-reboot";
@import "plugins/bootsrap/bootstrap-grid";
@import "plugins/bootsrap/images";
@import "plugins/bootsrap/buttons";
@import "plugins/bootsrap/bootstrap-utilities";

/*fontawesome*/
//@import "plugins/fontawesome/variables";
//@import "plugins/fontawesome/mixins";
//@import "plugins/fontawesome/core";
//@import "plugins/fontawesome/larger";
//@import "plugins/fontawesome/icons";
//@import "plugins/fontawesome/screen-reader";

/*CUSTOM VAR STYLES*/
@import "settings";
@import "my-default";

@import "plugins/aos/aos";
@import "plugins/hover/hover";
@import "plugins/swiper/swiper";

body {
  font-family: Arial, sans-serif;
  color: $dark-yellow;
}

.fonts-loaded .bebas-font {
  font-family: 'Bebas Neue Cyrillic';
}

.fonts-loaded .din-font {
  font-family: 'DIN';
}

.fonts-loaded .din-con-font {
  font-family: 'DIN Con';
}


.dark-yellow-text {
  color: $dark-yellow;
}

.light-yellow-text {
  color: $light-yellow;
}

.btn-gold {
  background: $dark-yellow;
  color: $white;
  border-radius: 20px;
}

.btn-gold:hover {
  background: $light-yellow !important;
  color: $dark-yellow;
}

.button-shadow {
  box-shadow: 0 14px 7px #888;
}

.text-uppercase {
  text-transform: uppercase;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.fz24 {
  font-size: 24px;
}

.fz50 {
  font-size: 50px;
}

.fz60 {
  font-size: 60px;
}

.fz70 {
  font-size: 70px;
}

.fz100 {
  font-size: 100px;
}

.hide {
  display: none;
}

.bebas-font.fz100 {
  line-height: 80px;
  height: 70px;
}

a, a:visited {
  color: $dark-yellow;
}

a:hover {
  text-decoration: none;
}

a.btn {
  color: #fff;
}

.more-link {
  font-size: 20px;
  text-decoration: underline !important;
}

.more-link:hover {
  color: $dark-yellow;
  text-decoration: none !important;
}

.text-stoke {
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $dark-yellow;
}

body [class*="hvr-"]::before {
  border-radius: 20px;
  background: $light-yellow;
  color: $dark-yellow;
}


#header {
  background: url("../img/header-bg-full.jpg") top center no-repeat;
  background-size: contain;
  overflow: hidden;

  .main-logo {
    max-width: 500px;
  }

  .may11 {
    font-size: 60px;
  }

  .course-start {
    font-size: 38px;
    letter-spacing: 3px;
  }

  .wealth-text {
    max-width: 330px;
  }

  .sub-logo {
    margin-bottom: 60px;
    position: relative;
    //z-index: 1;
    svg {
      height: 100px;
    }
  }

  .coins-left,
  .coins-right {
    position: absolute;
    bottom: 0;
    max-width: 618px;
  }

  .coins-left {
    left: 0%;
    bottom: -100px;
  }

  .coins-right {
    right: 2%;
    bottom: -100px;
  }

  .gradientback {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000', GradientType=0); /* IE6-9 */
  }

  .register-button {
    z-index: 1;
  }
}

#course-numbers {
  background: url("../img/course-number-bg.jpg") left top repeat-x;

  .decr {
    color: $light-yellow;
    font-size: 36px;
    line-height: 32px;
  }

  .transform-horizontal {
    transform: rotate(90deg);
  }
}

#course-gallery {
  h3 {
    color: $light-yellow;
    line-height: 48px;
  }

  .swiper-slide {
    opacity: .3;
    top: 5px;
  }


  .slider-object {
    height: 303px;
    max-width: 50%;
    position: relative;
    transition: top 700ms;
    top: 0;
  }

  .swiper-slide.swiper-slide-active {
    opacity: 1;
    transition: all .5s;
    top: 0;
  }

  .swiper-slide.swiper-slide-active .slider-object {
    top: -10px;

  }

  .slider-object {
    padding: 20px 20px 0px;
    box-shadow: 0px 4px 13px 0px rgba(2, 2, 2, 0.33);
    background: #fff;

  }


  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    width: 20px;
    height: 30px;
    //border-radius: 50%;
    top: 50%;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: block;
    font-size: 26px;
    color: $dark-yellow;
  }

  .swiper-button-prev {
    left: calc(33% - 5px);
  }

  .swiper-button-next {
    right: calc(33% - 10px);
  }

  .swiper-scrollbar-drag {
    background: $dark-yellow;
  }

}

#swiper-container-if {
  .coins-if {
    max-width: 156px;
  }

  .height-100 {
    height: 150px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: block;
    font-size: 28px;
    font-weight: 900;
    color: $dark-yellow;
  }

  .swiper-pagination-bullet-active {
    background: $dark-yellow;
  }

}

#course-price {
  .diam {
    max-width: 588px;
    left: 0;
    right: 0;
    margin: -20px auto 0;
  }

  .price-block {
    border: 6px solid $dark-yellow;
    border-radius: 40px;
    background-color: $white;
    box-shadow: 0px 25px 73px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }

  .width-price {
    max-width: 1000px;
    margin: 100px auto 0;
    background: url("../img/price-bg.jpg") #fff top right no-repeat;
    background-size: cover;
  }

  .line-first-text,
  .line-first-sum {
    color: $light-yellow;

  }

  .line-first-text {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .line-first-sum {
    font-size: 60px;
    line-height: 70px;
  }

  .line-through {
    position: relative;
    top: -40px;
    width: 120px;
    margin: 0 auto;
    border-bottom: 3px solid $light-yellow;
  }

  .final-price {
    color: $dark-yellow;
  }

  .button-row {
    position: relative;
    top: 15px;
  }


}

footer {
  background: $dark-yellow;

  .footer-text {
    color: $white;
    text-transform: uppercase;
    font-size: 32px;
  }

  .ig-icon {
    max-width: 45px;
    color: $white;
  }
}


//MEDIA
@media screen and (max-width: 1200px) {
  #course-gallery {
    .swiper-button-prev {
      left: 26%;
    }

    .swiper-button-next {
      right: 26%;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #header {
    //background: url("../img/header-bg-full.jpg") top center no-repeat;
  }

}

@media screen and (max-width: 991px) {
  .text-center-mobile {
    text-align: center;
  }
  .fz70 {
    font-size: 40px;
  }
  .fz50 {
    font-size: 30px;
  }
  #header {
    background: url("../img/header-bg-full.jpg") top center no-repeat;
    overflow: hidden;

    .main-logo,
    .wealth-text {
      width: 90%;
      margin: 0 auto;
    }

    .coins-left,
    .coins-right {
      display: none;
    }

    .coins-mobile {
      bottom: -120px;
    }

    .coins-mobile {
      display: block !important;
    }
  }

  #course-gallery {
    h3 {
      font-size: 32px;
      line-height: 38px;
    }

    .swiper-button-prev {
      left: 1%;
    }

    .swiper-button-next {
      right: 1%;
    }
  }
  #course-numbers {
    background-position: left -70px;
    background-size: contain;
  }

  #course-price {
    .width-price {
      margin: 0 auto 0;
    }

    .diam {
      margin: -20px auto 0;
    }
  }


}

@media screen and (max-width: 767px) {


}

@media screen and (max-width: 479px) {

}

body {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}